<h1>Listing notes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.name %></td>
    <td><%= note.url %></td>
    <td><%= link_to 'Show', note %></td>
  </tr>
<% end %>
</table>


