:ruby
  owner ||= nil
  ajax ||= nil
  title ||= nil
  datatable_options = {
  }

%table#notes.datatable.display{:class => ('ajax' if ajax), 'data-datatable-options' => datatable_options.to_json }
  %thead
    %tr
      %th= resource_class.human_attribute_name :name
      %th= resource_class.human_attribute_name :notes_count
      

  %tbody
    - unless ajax
      - collection.each do |item|
        %tr
          %td= item.name
          %td= item.notes.count
