%ul.rounded
  - collection.each do |item|
    %li
      %a.touch_load{'data-url' => polymorphic_path([item,:notes]), 'data-transition' => 'slide-left'}
        = item.name
        %span.count= item.notes.count