.chart-container.main
  %h2= t('stats.top_memes.title', :n => AppConstants.number_of_trending_memes)
  .chart{ 'data-url' => stats_memes_url(:format => 'json',:over_all_time=>'false'), 'data-template' => 'line_basic_with_legend' }
