<h1>Listing memes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memes.each do |meme| %>
  <tr>
    <td><%= meme.name %></td>
    <td><%= link_to 'Show', meme %></td>
  </tr>
<% end %>
</table>


