#container {
  margin-top:$d_h_header;
  min-width: $d_w_min;
  > .wrapper {
    padding: 20px 20px 170px;
  }
}

#content .panel {
  background: url("/images/woody.png") repeat scroll 0 0 transparent;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  @include border-radius(10px);
  > .wrapper {
    @include border-radius(10px);
    background: url("/images/paper.jpg") repeat scroll 0 0 transparent;
    padding: 20px;
  }
  &.about {
    width: 18%;
    float: left;
    padding: 10px;
    margin-right: 20px;
  }
  .chart {
    width: 100%;
    height: 200px;
  }
}

#content .right-panel {
  float: left;
  width: 75%;
  .chart {
    width: 100%;
    height: 300px;
  }
}

#content .panel.show {
  .cover_art {
    float: right;
    img {
      height: $d_h_cover_art;
    }
  }
  .datatable {
    clear: right;
  }
}
.mediaplayer.flash {
  embed {
    height:27px;
    width:320px;
  }
}
.mediaplayer.html5 {
  embed {
    height:42px;
    width:320px;
  }
}

