#container {
  margin-top:$d_h_header;
  min-width: $d_w_min;
}

#content .panel {
  width: 75%;
  margin: 0 auto;
}

#content .panel.show {
  .cover_art {
    float: right;
    img {
      height: 100px;
    }
  }
}
