#footer {
  background-color:$c_bg_footer;
  background: url("/images/panel-bg.png") repeat scroll 0 0 $c_bg_footer;
  color: $c_text_footer;
  height: $d_h_footer;
  min-width: $d_w_min;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  > .wrapper {
    height: $d_h_footer;
  }
  .panel {
    @include single-box-shadow($c_bg_footer_rgba, 0px, -3px, 5px);
    height: $d_h_footer;
    position: fixed;
    bottom: 0;
    margin: 0 $d_w_player_total;
    left: 0;
    right: 0;
    width: auto;
    min-width: $d_w_footer_min;
    .controls {
    }
  }
  .media {
    bottom: 15px;
    left: 130px;
    position: fixed;
    > .wrapper {
      @include single-box-shadow($c_bg_footer_rgba, 4px, 4px, 5px);
      border: 1px solid #333333;
      background: url('/images/stainless-plaque.png') repeat scroll 0 0 #DDDDDD;
      padding: 5px;
    }
    .title {
      background-color:#000;
      padding: 1px 3px;
      height: 17px;
      overflow: hidden;
      width: 320px;
    }
  }
  .block {
    height: $d_h_footer;
    float: left;
    &.right {
      float: right;
      padding: 8px 8px 0 0;
    }
    &.cc {
      > .wrapper {
        padding: 5px;
        background-color: #fff;
        height: 120px;
        width: 100px;
      }
      a, a:visited, a:hover {
        text-decoration: none;
        border: medium none;
        margin:0;
        padding:0;
      }
      img {
        height: 120px;
        width: 100px;
        border: medium none;
      }
    }
    &.memes {
      @include border-radius(10px);
      @include single-box-shadow($c_bg_footer_rgba, 4px, 4px, 5px);
      margin: 3px;
      height: 30px;
      padding: 10px;
      background: url("/images/memes-bg.png") repeat scroll 0 0 transparent;
    }
    &.levels {
      @include border-radius(10px);
      @include single-box-shadow($c_bg_footer_rgba, 4px, 4px, 5px);
      margin: 3px;
      height: 30px;
      padding: 10px;
      background: url("/images/memes-bg.png") repeat scroll 0 0 transparent;
    }
    &.book-of-knowledge {
      > .wrapper {
        @include border-radius(10px);
        @include single-box-shadow($c_bg_bok_rgba, 0px, 0px, 6px);
        background: url("/images/bok-bg.png") repeat scroll 0 0 $c_bg_footer;
        padding: 5px;
        height: 125px;
        width: 104px;
      }
    }
    &.technoexperts {
      margin: 14px 4px;
    }
    select {
      background-color: $c_bg_footer;
      border: 1px solid $c_block_footer;
      color: $c_select_text;
      font-size: 12px;
      height: 26px;
      margin: 0;
      padding: 3px;
      width: 160px;
		}
    option {
			padding: 5px;
    }
  }
  .player {
    @include single-box-shadow($c_bg_bok_rgba, 0px, 0px, 8px);
    background: url("/images/player-bg.png") repeat scroll 0 0 $c_bg_footer;
    padding: 10px;
    height: 160px;
    margin-top: -30px;
    width: $d_w_player;
    &.left {
      float: left;
      @include border-top-right-radius(8px);
    }
    &.right {
      float: right;
      @include border-top-left-radius(8px);
    }
    .health {
      width: 100px;
      height: 20px;
      .label {
        float:left;
      }
      .level {
        float:left;
      }
    }
  }
}