#header {
  @include single-box-shadow(rgba(0,0,0,.9), 0px, 5px, 5px);
  color: $c_text_header;
  height: $d_h_header;
  min-width: $d_w_min;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .wrapper {
    background: url('/images/toolbar.png') repeat-x 0 0 $c_bg_header;
    height: $d_h_header;
  }
  .block {
    height: $d_h_header;
    float: left;
  }
  .logo {
    img {
      border: 0;
      margin: 2px 0 2px 16px;
      height: 90px;
    }
  }
  .title {
    
    
  }
  .dedouche {
    float: right;
    a.donor {
      @include single-box-shadow(rgba(0,0,0,.9), 5px, 5px, 5px);
      background: url('/images/stainless-plaque.png') repeat scroll 0 0 #DDDDDD;
      display: block;
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      margin: 20px 20px 0 0;
      padding: 10px 0 0;
      text-align: center;
      vertical-align: middle;
      width: 230px;
      text-shadow: 1px 1px 0 #FFF;
    }
    ul.submenu {
      list-style: none outside none;
      margin: 0;
      padding: 0;
      li {
        background-color: #FFF;
        border: 2px solid #000;
        @include border-radius(8px);
        padding:5px 5px 2px;
        &:hover {
          background-color: #C00;
        }
        a {
          color: #000;
          font-weight: bold;
          font-size: 20px;
          text-decoration: none;
          &:hover {
            
          }
        }
      }
    }
  }
}