$f_face: arial, helvetica, sans-serif;
$f_with_style: Time New Roman, Serif;

$c_bg: #838696; //#8C7A58;
$c_bg_header: #000;
$c_bg_footer: #2B3B13; //2B3B13 282E0C
$c_bg_footer_rgba: rgba(43,59,19,0.9);
$c_bg_bok_rgba: rgba(0,0,0,1.0);
$c_text: #000;
$c_text_header: #FFF;
$c_text_footer: #FFF;

$c_block_footer: #B8AA83;
$c_block_footer_to: #282E0C;

$c_select_text: #FFFFFF;

$c_control: #2B3B13;
$c_control_text: $c_select_text;
$c_control_sel: #3B4B23;

$c_play_control: $c_control;
$c_play_control_text: $c_control_text;
$c_play_control_sel: $c_control_sel;

$c_bg_tabbed_info: #B8AA83;
$c_text_tabbed_info: #282E0C;
$c_bg_tabbed_info_sel: #2B3B13;
$c_text_tabbed_info_sel: #B8AA83;

$c_1: #B8AA83;
$c_2: #282E0C;

$d_w_min: 980px;
$d_h_header: 100px;
$d_h_footer: 150px;
$d_w_footer_min: 760px;
$d_mt_footer_block: 50px;
$d_h_body_min: 500px;
$d_w_player: 90px;
$d_w_player_total: 110px;
$d_h_min_content: 300px;
$d_h_cover_art: 200px;