
$c_bg: #8C7A58;
$c_bg_header: #000;
$c_bg_footer: #282E0C;
$c_text: #000;
$c_text_header: #FFF;
$c_text_footer: #FFF;

$c_block_footer: #B8AA83;
$c_block_footer_to: #282E0C;

$c_select_text: #FFFFFF;

$c_1: #B8AA83;
$c_2: #282E0C;

$d_w_min: 980px;
$d_h_header: 100px;
$d_h_footer: 150px;
$d_mt_footer_block: 50px;
$d_h_body_min: 500px;
$d_w_player: 120px;
$d_h_min_content: 300px;