<h1>Listing shows</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Published</th>
    <th></th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.number %></td>
    <td><%= show.published %></td>
    <td><%= link_to 'Show', show %></td>
  </tr>
<% end %>
</table>

<br />

