#header
  .wrapper
    .logo.block
      = link_to image_tag('NA_logo.png'), root_url, :class => 'image'
    .title.block
      = image_tag('navd.png', :alt => 'Attack Vector Dashboard')
    .dedouche.block.menu_tip
      %a.menu.donor Be a Donor not a Boner!
      %ul.submenu{:style => 'display:none'}
        - ['Blankets', 'Water', 'Just Send Cash'].each do |pledge|
          %li
            %a{:href => 'http://dvorak.org/na'}= pledge
